@charset "UTF-8";

:root {
    --font: "SF Pro Text", "SF UI Text", system-ui, -apple-system, BlinkMacSystemFont, Arial, sans-serif;
    --background: #f6f6f6 linear-gradient(to bottom, #f6f6f6 0%, #fdfdfd 100%);
    --accent: #0071ff;
}

* {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: var(--font);
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    text-shadow: rgba(0, 0, 0, 0.01) 0 0 0.0625rem;
    -moz-box-sizing: border-box;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

html:not(#home) {
    display: block;
}

html:not(#home) body {
    padding-top: 10vh;
}

body {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.75rem;
    max-width: 40rem;
    margin: 0 auto;
    color: #333;
    // background: #f6f6f6 linear-gradient(to bottom, #f6f6f6 0%, #fdfdfd 100%);
    // background: #f6f6f6 -webkit-linear-gradient(top, #f6f6f6 0%, #fdfdfd 100%);
    background: var(--background);
    background-attachment: fixed;
}

body.letterhead {
    max-width: 38.75rem;
    width: 100%;
    margin: 6.25rem auto;
    padding: 1.25rem;
}

body.letterhead h3,
body.letterhead p,
body.letterhead ul {
    margin-bottom: 1.5625rem;
}

body.letterhead h3 {
    font-size: 1.5rem;
    line-height: 1.875rem;
}

body.letterhead ul {
    padding-left: 1.0625rem;
}

body.letterhead hr {
    border: none;
    border-top: 0.125rem solid rgba(0, 0, 0, 0.1);
    margin: 3.125rem 0;
}

.links {
    display: flex;
    justify-content: flex-start;
    margin-left: -0.25rem;
}

.links a {
    padding: .5rem;
    color: black;
}

.links a:hover {
    color: var(--accent);
    background: transparent;
}


#navigation {
    display: flex;
    justify-content: flex-start;
}

#navigation a {
    padding: 0.625rem 0.9375rem;
}

a {
    text-decoration: none;
    color: var(--accent);
    border-radius: 0.625rem;
    // padding: 0.625rem 0.9375rem;
    // margin: -0.625rem -0.9375rem;
    transition: all 0.2s;
    font-weight: 600;
}

a:hover {
    color: #fff;
    background: var(--accent);
    // padding: 0.625rem 1.25rem 0.625rem 1.25rem;
    transition: all 0.2s;
}

a.back {
    position: sticky;
    // margin: 0;
    top: 5vh;
    left: -10vw;
    line-height: 2.625rem;
    font-weight: 600;
    padding: 0.75rem;
    border-radius: 1.3125rem;
    color: var(--accent);
    background: transparent;
    opacity: 0.64;
    transition: all 0.24s;
    z-index: 10000;
}

a.back:hover {
    background-color: var(--accent);
    color: white;
    opacity: 1;
}

a.disabled {
    color: rgba(0, 0, 0, 0.33);
}

a.back.opaque {
    opacity: 1;
    background-color: white;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

a.back.opaque:hover {
    color: #fff;
    background-color: var(--accent);
}

ul {
    list-style: none;
}

.bolded {
    font-weight: bold;
}

li,
p {
    padding: 0.625rem 0;
}

h2 {
    font-weight: 400;
}

header {
    padding: 0 1.25rem 0.9375rem;
}

header h1 {
    font-weight: 600;
    font-size: 2.625rem;
    line-height: 3.375rem;
    letter-spacing: -0.0625rem;
}

header p {
    font-weight: 600;
    opacity: 0.5;
    padding: 0;
}

section,
nav,
footer {
    display: block;
    margin: 0.625rem 0 0;
    // padding: 0 1.875rem;
}

section ul li a,
nav ul li a,
footer ul li a {
    display: inline-block;
}

section h3,
nav a,
footer a {
    font-weight: 600;
    font-size: 1.5rem;
    display: inline-block;
}

nav {
    margin-top: 2rem;
    padding: 0 1.25rem .9375rem;
}

nav li {
    display: inline-block;
    margin: 0 1rem 0 0;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 0.0625rem solid rgb(115, 115, 115);
    padding: 1em;

    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 30em) {
        width: 95%;
    }
}

img {
    image-rendering: crisp-edges;
}

hr {
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 30em) {
        width: 95%;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.subtitle {
    font-weight: 600;
    opacity: 0.5;
}

.clear {
    display: block;
    clear: both;
}

.header-container {
    display: flex;
    flex-direction: column; /* Stack children vertically */
}

.title-and-image {
    display: flex;
    align-items: center; /* Align items vertically in the center */
    justify-content: space-between; // updated for header layout
}

.title-and-image > div {
    flex: 1; /* Allow the text to take as much space as possible */
}

.title-and-image .info .links ul {
    display: flex;
    // gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0.5rem 0 0;
}

.title-and-image .info .links li {
    display: inline-block;
}

#memoji {
    background: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0.125rem 0.5rem 0.125rem;
    border-color: rgb(115, 115, 115);
    border-width: 0.0625rem;
    border-style: solid;
    border-radius: 50%;
    margin-left: 1.25rem;
    width: 10rem;
    height: 10rem;
    overflow: hidden;
    cursor: pointer;
}

#memoji img {
    width: 100%; /* Ensure the image fills the picture element */
    height: auto; /* Maintain aspect ratio */
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.9375rem;
    justify-content: space-between;
    padding: 0.625rem;
}

.card {
    background: white;
    border-radius: 0.9375rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    padding: 1.25rem;
    flex: 1 1 calc(50% - 1.25rem);
}

.back {
    position: absolute;
    margin-top: -9.375rem;
    margin-left: -9.375rem;
}

#description {
    display: inline;
    font-size: 1.125rem;
    font-weight: 600;
    opacity: 0.5;
}

// #links ul {
//     display: flex;
//     justify-content: flex-start;
//     align-items: center;
// }

// #links ul li {
//     flex: 1;
//     text-align: center;
// }

// #links a:hover {
//     color: #fff;
//     background-color: var(--accent);
//     padding: 0.6rem 1rem 0.6rem 1rem;
//     transition: all 0.2s;
// }

#projects ul {
    display: flex;
    justify-content: space-around;
}
#projects ul li {
    flex: 1;
    padding-left: 0.625rem;
    text-align: left;
}

/* Responsive adjustments */
@media screen and (max-width: 64em) {
    .card {
        flex: 1 1 100%;
    }
}

@media screen and (max-width: 32.5em) {
    body {
        margin: 3.125rem auto;
    }

    html:not(#home) body {
        margin: 0.1rem auto;
        max-width: 90vw;
    }

    img {
        max-width: 90vw;
    }

    a.back {
        top: 1vh;
        left: 1vw;
        bottom: 5vh;
    }

    .title-and-image {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .links {
        justify-content: center;
    }

    #navigation {
        justify-content: center;
    }

    #memoji {
        margin: 1.25rem 0 0;
    }
}
