<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
    <meta name="description" content="Andrew Parker Hunt is a Python and Rust programmer in Clovis, California">
    <link rel="stylesheet" href="/main.css">
    <link rel="icon" href="/images/memoji-circle.png"">
    <title>Parker Hunt</title>
    
    <a href="/" class="back"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
    </svg> back</a>
</head>

<body>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
<footer>
    <p>Built and Hosted by Me.</p>
</footer>
</html>