{% extends "base.html" %}
{% block content %}
<a href="#main-content" class="visually-hidden">Skip to main content</a>
<a href="#navigation" class="visually-hidden">Skip to navigation</a>

<script async src="/js/main.js"></script>

<!-- Preload images for faster display -->
<div style="display: none;">
    <!-- 123-1x, 246-2x, 369-3x, 492-4x, 615-5x -->

    <!-- bitmoji -->
    <img decoding="async" loading="eager" src="/imgs/webp/bitmoji-123.webp"
        srcset="/imgs/webp/bitmoji-123.webp 123w, /imgs/webp/bitmoji-246.webp 246w, /imgs/webp/bitmoji-369.webp 369w, /imgs/webp/bitmoji-492.webp 492w, /imgs/webp/bitmoji-615.webp 615w"
        sizes="246px" alt="My snapchat bitmoji">

    <!-- junior pic -->
    <img decoding="async" loading="eager" src="/imgs/webp/junior-123.webp"
        srcset="/imgs/webp/junior-123.webp 123w, /imgs/webp/junior-246.webp 246w, /imgs/webp/junior-369.webp 369w, /imgs/webp/junior-492.webp 492w, /imgs/webp/junior-615.webp 615w"
        sizes="246px" alt="Me as a junior in highschool">

    <!-- freshman pic -->
    <img decoding="async" loading="eager" src="/imgs/webp/freshman-123.webp"
        srcset="/imgs/webp/freshman-123.webp 123w, /imgs/webp/freshman-246.webp 246w, /imgs/webp/freshman-369.webp 369w, /imgs/webp/freshman-492.webp 492w, /imgs/webp/freshman-615.webp 615w"
        sizes="246px" alt="Me as a freshman in highschool">

</div>


<header class="header-container">
    <div class="title-and-image">
        <div>
            <h1>Andrew Parker Hunt</h1>
            <h2 id="description">Student in Clovis, California, USA</h2>
        </div>
        <picture id="memoji">
            <img decoding="async" loading="eager" src="/imgs/webp/memoji-123.webp"
                srcset="/imgs/webp/memoji-123.webp 123w, /imgs/webp/memoji-246.webp 246w, /imgs/webp/memoji-369.webp 369w, /imgs/webp/memoji-492.webp 492w, /imgs/webp/memoji-615.webp 615w"
                sizes="246px" alt="My Memoji" onclick="handleClick()">
        </picture>
    </div>
</header>
<hr>

<nav id="navigation">
    <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/resume">Resume</a></li>
    </ul>
</nav>

<main id="main-content">
    <!-- Use Flexbox for layout -->
    <div class="card-container">
        <section id="job" class="card">
            <h3>Job</h3>
            <p>Unemployed</p>
        </section>

        <section id="school" class="card">
            <h3>School</h3>
            <p>Floyd B. Buchanan High School</p>
        </section>

        <section id="projects" class="card">
            <h3>Projects</h3>
            <ul>
                <!-- <li><a href="https://github.com/frc1671/QRScanner">FRC QRScanner</a></li> -->
                <li><a href="https://cart.parkerhunt.me" aria-label="cart-profile (opens in a new tab)"
                        target="_blank">cart-profile</a></li>
                <li><a href="https://github.com/ParkerrDev/GPTplusplus" aria-label="GPT++ (opens in a new tab)"
                        target="_blank">GPT++</a></li>
            </ul>
        </section>

        <section id="links" class="card">
            <h3>Links</h3>
            <ul>
                <li><a href="https://github.com/ParkerrDev" aria-label="GitHub">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path
                                d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
                            </path>
                        </svg></a></li>
                <li><a href="https://x.com/AndrewParkerH" aria-label="X">
                        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                            viewBox="0 0 24 24">
                            <path
                                d="M13.795 10.533 20.68 2h-3.073l-5.255 6.517L7.69 2H1l7.806 10.91L1.47 22h3.074l5.705-7.07L15.31 22H22l-8.205-11.467Zm-2.38 2.95L9.97 11.464 4.36 3.627h2.31l4.528 6.317 1.443 2.02 6.018 8.409h-2.31l-4.934-6.89Z" />
                        </svg>
                    </a></li>
                <li><a href="https://venmo.com/u/AndrewParkerH" aria-label="Venmo">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M18 8h1a4 4 0 0 1 0 8h-1"></path>
                            <path d="M2 8h16v9a4 4 0 0 1-4 4H6a4 4 0 0 1-4-4V8z"></path>
                            <line x1="6" y1="1" x2="6" y2="4"></line>
                            <line x1="10" y1="1" x2="10" y2="4"></line>
                            <line x1="14" y1="1" x2="14" y2="4"></line>
                        </svg></a></li>

                <li><a href="https://www.linkedin.com/in/andrew-hunt-9b3532331/" aria-label="LinkedIn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z">
                            </path>
                            <rect x="2" y="9" width="4" height="12"></rect>
                            <circle cx="4" cy="4" r="2"></circle>
                        </svg></a></li>
                <li><a href="mailto:email@parkerhunt.me" aria-label="Email">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <line x1="22" y1="2" x2="11" y2="13"></line>
                            <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
                        </svg>
                        </svg></a></li>
            </ul>
        </section>
    </div>
</main>

{% endblock %}