{% extends "alt-base.html" %}

{% block content %}
<article class="project-detail">
  <h1 class="title">{{ page.title }}</h1>

  {% if page.description %}
  <p class="subtitle">{{ page.description }}</p>
  {% endif %}

  {% if page.date %}
  <p class="subtitle"><strong>{{ page.date }}</strong></p>
  {% endif %}

  {% if page.extra.website_url %}
  <p class="project-link"><a href="{{ page.extra.website_url }}" target="_blank" rel="noopener noreferrer">{{ page.extra.website_url }}</a></p>
  {% endif %}

  {{ page.content | safe }}
</article>
{% endblock content %}
